@model AdvertisementAppUserCreateModel
@{
    Layout = "_Layout";
}

<div class=" mb-3">
    <form asp-action="Send" asp-controller="Advertisement" method="post">

        
        <select asp-items="@ViewBag.MilitaryStatus" class="form-control form-select">

        </select>

    </form>
</div>